<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>jack</title>

    <link
        rel="icon"
        href="{{ url_for('static', filename='favicon.ico') }}"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/styles.css') }}"
    >
</head>


<body>

    <header>
        <h2>jack</h2>
    </header>

    <div class="topnav">
        <div class="dropdown">
            <button type="button" onclick="myFunction()" class="dropbtn">portfolio</button>
            <div id="myDropdown" class="dropdown-content">
                {% for folder in folders %}
                    <a
                        class="hover-heading"
                        href="{{ url_for('main.folder', folder=folder) }}"
                    >
                        {{ folder }}
                    </a>
                {% endfor %}
            </div>

        </div>
        <a href="{{ url_for('social.contact')}}">contact</a>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>


</html>
